.idea/
.devbox/
.direnv/

frontend/node_modules
frontend/dist
backend/blog.exe
backend/vexgo
backend/blog.db
backend/data/
backend/public/dist/
data/
.env

.DS_Store
backend/.DS_Store
frontend/.DS_Store

uploads/